.logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 24px 16px 0;
  float: left;
}

.content {
  padding: 3rem;
}

.card {
  width: auto;
  max-width: 35vw;
  border-radius: 2rem !important;
  margin-bottom: 1rem !important;
}

.card > * {
  display: inline-block;
}