html, body {
  height: 100% !important;
}

.logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 24px 16px 0;
  float: left;
}

.layout {
  min-height: 100vh !important;
}

.content {
  padding: 3rem;

  flex: 1 0 auto !important;
}

.footer {
  margin-top: auto;

  flex-shrink: 0 !important;
}
